#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.game-tile {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0% 25%);
}

.game-button {
  border: 2px solid grey !important;
  color: black !important;
}

.game-button.selected {
  border: 2px solid blue !important;
}